.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 12px 20px 12px 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, .2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: .3;
  position: absolute;
  top: 12px;
  left: 14px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: .3;
  position: absolute;
  top: 12px;
  right: 15px;
  cursor: pointer;

  &:hover {
    opacity: .8;
    transition: 5;
    transition: opacity .3s linear;
  }
}